@{
    ViewBag.Title = "拒绝访问";
}

<div class="text-center">
    <h1 class="text-danger">拒绝访问</h1>
    <h6 class="text-danger">您没有权限访问此路径</h6>
    <img src="~/images/Nopermission.png" width="300" height="300"/>
</div>