@{
    ViewBag.Title = "密码设置结果";
}

<h1 class="text-info">密码设置成功</h1>
<h4 class="text-secondary">您已经设置了本地密码。现在您可以选择本地用户账户或第三方账户登录到系统中。</h4>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width:auto">点击此处返回首页</a>