@model int

@{
    ViewBag.Title = "404 Not Found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 NotFound错误</h4>
    <hr />
    <h5>系统中没有找到学生ID为@(Model)的学生信息</h5>
</div>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success">返回学生列表</a>